{% load static %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/icon-kit/dist/css/iconkit.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/ionicons/dist/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap.css' %}">
<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/weather-icons/css/weather-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/c3/c3.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/owl.carousel/dist/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/theme.min.css' %}">