{% extends 'backend/base.html' %}
{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <h3>List Of Student</h3>
                <span>use class <code>table-hover</code> inside table element</span>
            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for student in students %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td>{{ student.name }}</td>
                              <td>{{ student.age }}</td>
                              <td>{{ student.gender | title }}</td>
                              <td>
                                  <a href="{% url 'student-update' student.id %}"><button class="btn btn-primary">Edit</button></a>
                                  <a href="{% url 'student-delete' student.id %}"><button class="btn btn-danger">Delete</button></a>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

